h1 {
  font-family: Tahoma;
  font-size: 45px;
  font-style: oblique;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 66px;
  padding-left: 60px;
  background-color: lightblue;
}

#line {
  border: 2px solid black;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 20px;
  float: left;
  margin-left: 40px;
  margin-right:20px;
  width: 55%;
}

#nav {
  border: 2px solid red;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 28%;
  overflow: auto;
}

